<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://unpkg.com/htmx.org/dist/htmx.js"></script>
    <style>
        .htmx-indicator {
        display: none;
        }
        .htmx-request .htmx-indicator{
        display: inline;
        }
        .htmx-inverted-indicator{
          display: inline ;
          }
          .htmx-request .htmx-inverted-indicator{
              display: none;
        }



    </style>

</head>
<body>
<div id="recipe-container">
<form action=" ." method="POST" hx-post="." hx-swap="outerHTML" hx-trigger= "{% if form.instance.id %}change delay:500ms,{% endif %}, submit">
        {% csrf_token %}
        {% for field in form %}
        <div class="{% if  field.field.required %}{{ form.required_css_class}}{% endif %}">
            {{ fields.errors }}
        {{ field.label_tag}}    {{ field }}
             {% if field.help_text %}
            <p class="help">{{field.help_text | safe }}</p>
            {% endif %}
        </div>
        {% endfor %}
        {% if formset %}
        <h1>Ingredients</h1>

        {{ formset.management_form}}

        <div id="ingredient-form-list">
            {% for form in  formset %}
            <div class="ingredient-form">
                {{ form.as_p }}

            </div>
           {% endfor %}
        </div>
        {% endif %}





       {% if formset %}
        <h3>Ingredients</h3>
        {{ formset.management_form }}
        <div class='ingredient-form-list'>
        {% for form in formset %}
                <div class='ingredient-form'>
                    {{ form.as_p }}
                </div>
        {% endfor %}
        </div>

        <div id='empty-form' class='hidden'>{{ formset.empty_form.as_p}}</div>
        <button id='add-more' type='button'>Add more</button>
        {% endif %}
    <div class="htmx-indicator">Loading...</div>
        <button class="htmx-inverted-indicator" style='margin-top:10px;' type='submit'>save</button><br>
        {% if message %}
            {{ message }}
        {%  endif %}
    <a href='{{  object.get_delete_url}}'>Delete</a>
    </form>
</div>
</body>
</html>