<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div> id="ingredient-{{ object.id }}">
    {{ object.quantity }}-{{ object.unit }} {{ object.name}}
    <button hx-trigger='click' hx-get='{{ object.get_hx_edit_url }}' hx-target="#ingredient-{{ object.id }}">Edit</button>
    <a href="{{ object.get_delete_url }}">Remove</a>
     <a hx-post='{{ objects.get_delete_url }}' hx-confirm='Delete ingredient?' hx-trigger='click' href='{{objects.get_delete_url}}'
    hx-target='#ingredient-{{ object.id }}' hx-swap='outerHTML'
</div>

</body>
</html>